li {
  list-style: none;
}

.nav {
  display: flex;
  flex-direction: inline;
  justify-content: space-evenly;
  background-color: paleturquoise;
  font-size: 2rem;
}

body {
  background-color: antiquewhite;
  text-align: center;
}
.dashboard {
  padding: 2rem;
  /* border: solid red; */
  width: fit-content;
  margin: 0 auto;
}
input {
  font-size: larger;
}
button {
  font-size: larger;
}
button:hover {
  color: green;
}
ul {
  /* border: solid red; */
  padding-left: 0;
}
.dashboard > input {
  margin: 2px;
}

.stock {
  /* background-color: paleturquoise; */
  width: fit-content;
  padding: 2rem;
  /* border: solid red; */
  width: fit-content;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: black;
}
.link :hover {
  color: green;
}
